<%-include("../header")%>s
<form action="/member/register" method="post">
    <input type = "text" name="id" placeholder="input id"><br>
    <input type = "text" name="pwd" placeholder="input pwd"><br>
    <input type = "text" name="name" placeholder="input name"><br>
    <input type = "text" name="addr" placeholder="input addr"><br>
    <input type = "submit" value="submit"><br>
</form>