<a href="/">HOME</a>
<% console.log("username ==> ",username) %>
<%if(username.sua){%>
    <a href="/member/logout">Logout</a>
    <a href="/member/list">Member Info</a>
<%}else{%>
    <a href="/member/login">Login</a>
    <a href="/member/login">Member Info</a>
<%}%>
<hr>