<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>개인정보</h4>
    <b>아이디</b> : <%=mem.id%><br>
    <b>이름</b> : <%=mem.name%><br>
    <b>주소</b> : <%=mem.addr%><hr>
    <!-- <a href="/member/list">목록보기</a> -->
    <a href="#" onclick="window.history.back();">목록보기</a>
</body>
</html>