<script>
    function test(){
        //location.href= "/non_fetch";
        fetch("/fetch01") //fetch는 데이터만 주고 받는 것. 페이지가 새롭게 로드되는 것이 아니어서 처리속도가 빠름. 
    }
</script>
<h1>day</h1><h1>day</h1><h1>day</h1>
<h1>day</h1><h1>day</h1><h1>day</h1>
<button onclick="test()">클릭</button>