<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<script>
    let content;
    window.onload = ()=>{
        content = document.getElementById("content");
        const getMembers = document.querySelector("#getMembers");
        getMembers.addEventListener("click", getMember);//click이 일어나면 getMembers라는 함수를 실행해라.
        const registerView = document.querySelector("#registerView");
        registerView.addEventListener("click", regView);//click이 일어나면 getMembers라는 함수를 실행해라.
    }
    const getMember=()=>{
        //alert("get함수 호출")
        fetch("/get_members", {method : "get"})
        .then (res=> res.json())
        .then(data=>{
            console.log("$$$$$$$$$$$$$$$$$$",data);
            let msg = "<table border='1'>";
                msg += "<tr><th>아이디</th><th>이름</th><th>주소</th></tr>";
                data.forEach( member =>{
                    msg += "<tr>";
                        msg += `<td>${member.id}</td>
                                <td>${member.name}</td>
                                <td>${member.addr}</td>`;
                    msg += "</tr>";
                });
                msg += "</table>";
                console.log("msg++++++++",msg);
                content.innerHTML = msg;
        })
    }
    const regView=()=>{
        let msg = `<form id="form" method="post">
            <input type="text" id="id" name="id" placeholder="input id"><br>
            <input type="text" name="pwd" placeholder="input pwd"><br>
            <input type="text" name="name" placeholder="input name"><br>
            <input type="text" name="addr" placeholder="input addr"><br>
            <input type="button" onclick="register()" value="등록">
        </form>`;
    content.innerHTML=msg;
    }
    const register=()=>{
        //alert("register")
        console.log(document.getElementById("id").value);
        const arr= $("#form").serializeArray(); //name에 대한 속성값과 입력값을 한번에 가져올 수 있음. 
        console.log(arr);
        console.log(arr[0].name)
        console.log(arr[0].value)
        let data = { }
        /*
        data[arr[0].name] = arr[0].value;
        data[arr[1].name] = arr[1].value;
        data[arr[2].name] = arr[2].value;
        data[arr[3].name] = arr[3].value;
        */
       /*
       for(var i=0; i<arr.length; i++){
        data[arr[i].name] = arr[i].value;
       }*/
       arr.forEach(d=>{data[d.name] = d.value});
       console.log("data=", data);

       fetch("/register", {method : "post", headers : {"Content-Type" : "application/json"}, body : JSON.stringify(data)})//줄거임
        .then (res=> res.json())
        .then(result=>{
            if (result ===1){
                alert("회원 가입 성공!");
                getMember();
            }
        })
    }

    function del(){
        const delId = document.getElementById("del_id");
        fetch("/delete",{
            method : "delete",
            headers : {"Content-Type" : "application/json"},
            body : JSON.stringify({id : delId.value})
        })
        .then (gdgd => gdgd.json())
        .then(qweqwe => {
            console.log(qweqwe[0].id);
            if(qweqwe ===1)
                getMember();
        })
    }
    
    function search(){
        //얘랑 같은 의미. document.getElementById("s_id").value;
        //fetch("/search?id="+$("#s_id").val(), {method : "get"})
        fetch("/search/"+$("#s_id").val(), {method : "get"}) 
        .then(res => res.json())
        .then(data=> {
            console.log("search: ", data);
        })
    }
</script>
<div id="content"></div>
<hr>
<button type="button" id="getMembers">목록보기</button>
<button type="button" id="registerView">데이터 추가</button>
<hr>
<input type="text" id="del_id">
<button type="button" onclick="del()">삭제</button>
<input type="text" id="s_id">
<button type="button" onclick="search()">조회</button>
