<script>
    function test(){
        location.href= "/non_fetch";
    }
</script>
<h1>day</h1><h1>day</h1><h1>day</h1>
<h1>day</h1><h1>day</h1><h1>day</h1>
<button onclick="test()">클릭</button>
<label><%= cnt%></label>