
<%console.log("login ejs : ", nick);%>
<%if(nick ===undefined){ %>
<form action="/session/login_check" method="post">
    <input type ="text" name ="id"><br>
    <input type ="text" name="pwd"><br>
    <input type ="submit" value="로그인"><br>
</form>
<% }else{ %>
    <%= nick %>님 로그인 상태입니다. <br>
    <a href="/session/success"> 성공페이지 이동</a>
    <a href="/session/logout"> 로그아웃</a>
<%}%>