<script>
    function test(){
        //location.href = "/non_fetch";
        fetch("/fetch01")
    }
</script>
<h1>일</h1> <h1>일</h1> <h1>일</h1> <h1>일</h1>
<h1>일</h1> <h1>일</h1> <h1>일</h1> <h1>일</h1>
<button onclick="test()">클릭</button>