<script>
    const viewMember = () => {
        fetch("/view",{method : "get"})
        .then( res => res.json() )
        .then( data => {
            let msg = "";
            console.log( data );
            data.forEach(member => {
                msg += member.id +"," + member.name +"," +member.addr +"<br>";
            })
            const content = document.getElementById("content");
            content.insertAdjacentHTML("beforeend",msg); 
        })
    }
</script>
<div id="content"></div>
<hr>
<button type="button" onclick="viewMember()">3명씩 더 보기</button>
    