<h4>login페이지 입니다</h4>
<a href="/">index</a>
<a href="/logout">logout</a>
<a href="/member">member</a>
<hr>
<%=n%><br>
<% const msg = "java script 언어만 사용 가능"; %>
<% const arr = [10,20,30]; %>
<%= msg %> <br>
<%= arr %> <br>
<%= arr[0] %>

[1[0]]