
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<script>
    var flag = false;
    $("html").on("mouseleave", ()=>{flag = true;})
    $("html").on("mouseenter", ()=>{flag = false;})
    window.onbeforeunload=()=>{ //페이지가 변경될 때 실행되는 이벤트
                                //<a> submit, button, 뒤로가기 등등 발생하면 이 함수가 실행된다.
        if(flag){
            fetch("/member/logout");
        }
    }
    window.onload=()=>{ 
        console.log("cookie 확인");
        console.log(document.cookie);//현재 페이지로부터 쿠키를 가져오겠다는 뜻.
        console.log(document.cookie.indexOf("isLogin=true")); //해당하는 값이 있으며 해당 인덱스 번호를 , 없으면 -1을 가져옴.
        console.log(document.cookie.indexOf("isLogin111=true")); 
        let msg = "<a href='/'> HOME/ </a>";

        if(document.cookie.indexOf("isLogin=true") !== -1){
            msg += "<a href='/member/logout'> Sign Out/ </a>";
            msg += "<a href='/member/list'> member info/ </a>";
            
        }else{
            msg += "<a href='/member/login'> Sign In/ </a>";
            msg += "<a href='/member/login'> memeber info/ </a>";
        }
        document.querySelector("#nav").innerHTML = msg;
    }
</script>
<div id = "nav"></div>
<hr>

<a href="/">HOME</a>
<% if(username){%>  
    <a href="/member/logout">LogOut</a>
    <a href="/member/list">info</a>
<%}else{%>
    <a href="/member/login">LogIn</a>
    <a href="/member/login">info</a>
<%}%>

<hr>