
<h3>quiz 페이지입니다.</h3>
<% console.log( userCookie )%>
<% if(userCookie == undefined){ %>
<script>
    const opt = "width=300, height=200, top=500, left=500";
    window.open ("/cookie/quiz_popup","",opt);
    //window.open ("https://www.notion.so/7-27-a10203307b0b4356afa000d607bf437a","",opt);
</script>
    There's not Cookie
<% }else{ %>
    There's a Cookie
<% } %>
