<h3> - Notification(quizPopup) - </h3>
오전 05시까지 업데이트 예정입니다.<hr>
<input type = "checkbox" id="chk" onclick = "makeCookie()">
<label for="chk"> 하루동안 열지 않음</label>
<script>
    function makeCookie(){
        location.href = "/cookie/makeCookie";
        window.close();
    }
</script>

