<%-include("../default/header") %>
<form action="/member/login.do" method="post">

<input type = "text" name = "id" placeholder="input id"><br>
<input type = "password" name = "pwd" placeholder="input password"><br>

<a href="/member/join">Join</a>
<input type = "submit" value="login">

</form>
