<script src="/static/js/image_read.js"></script>


<form action="/file/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="title"><br>
    <img src="#" id="preview" width="100" height="100" alt="no image"><br>
    <input type="file" name="file_name" onchange="readURL(this)"><br>
    <input type="submit" value="전송"><br>

</form>

<a href="/file/list">file list location</a>